<div fxLayout="row" fxLayout.md="column" fxLayoutGap="10px">
  <div fxFlex="66">
<mat-card>
    <mat-card-title>
        <mat-card-subtitle>Weekly schedule</mat-card-subtitle>
        <div layout="row" layout-align="start start">
            <app-tasklist [tasks]="tasks"></app-tasklist>
        </div>
      </mat-card-title>
      </mat-card>
      </div>
      <div fxLayout="column" fxFlex>
  <mat-card fxLayoutGap="10px">

    <mat-card-title>Last runs</mat-card-title>
 <app-taskrun></app-taskrun>
    
  </mat-card>

  <mat-card >
      <mat-card-title>Last alarms</mat-card-title>
    <app-alarmlist></app-alarmlist>
  </mat-card>
 </div>
</div>
