<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Meter definitions</mat-grid-tile-header>
    <mat-form-field class="example-full-width">
        
      <input matInput placeholder="Energinet id" value="{{title}}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Vendor id" value="{{day}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Extras" value="{{hour}}"></textarea>
    </mat-form-field>
    <mat-slide-toggle>Disabled</mat-slide-toggle>
    
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-grid-tile-header>Grab meter</mat-grid-tile-header>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     
     
    </mat-form-field>
    <button matIconButton><mat-icon>local_grocery_store</mat-icon></button>
    <a routerLink="/tasksetup">Go to task</a>
</mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-grid-tile-header>Related meters</mat-grid-tile-header>
      <div layout="row" layout-align="start start">
          <app-meterlist [meters]="meters"></app-meterlist>
      </div>
    </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Task options</mat-grid-tile-header>
    <app-grabber [selected]="grabber"></app-grabber>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Last data</mat-grid-tile-header>
    <button mat-button>Watch the last grabs</button>
  </mat-grid-tile>
 

</mat-grid-list>
