<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar color='primary' class="mat-elevation-z6">
    <span>{{title}}</span>
    <span class="example-fill-remaining-space"></span>
    <div>
      <button mat-icon-button routerLink='grabberconfig'><mat-icon>local_grocery_store</mat-icon></button>
      <button mat-icon-button routerLink=''><mat-icon>schedule</mat-icon></button>
      <button mat-icon-button routerLink=''><mat-icon>notifications</mat-icon></button>
      <button mat-icon-button routerLink=''><mat-icon>report_problem</mat-icon></button>
    </div>
    <app-search fxHide.xs="true"  width="35"></app-search>
  </mat-toolbar>
  <div class="content">
  <router-outlet></router-outlet>
  </div>
</div>

