.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  mat-toolbar {
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .content {
    display: flex;
    width: 100% !important;
    height: calc(100vh - 64px) !important;
  }
  