<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Definitions</mat-grid-tile-header>
      <form class="example-form">
    <mat-form-field class="example-full-width">
        
      <input matInput placeholder="Task name" value="{{title}}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Crawler day" value="{{day}}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Crawler hour" value="{{hour}}">
    </mat-form-field>
  </form>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-grid-tile-header>Communication</mat-grid-tile-header>
    <app-contactlist [selected]="contacts"></app-contactlist>
    <app-importmaillist></app-importmaillist>

   
</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-grid-tile-header>Related meters</mat-grid-tile-header>
      <div class="example-form">
          <app-meterlist [meters]="meters"></app-meterlist>
      </div>
    </mat-grid-tile>

  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Options</mat-grid-tile-header>
    <app-grabber [selected]="grabber"></app-grabber>
    <app-urllist [selected]="url"></app-urllist>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
      <mat-grid-tile-header>Last runs</mat-grid-tile-header>
    <button mat-button>Watch the last grabs</button>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     
    </mat-form-field>
    <button matIconButton><mat-icon>local_grocery_store</mat-icon></button>
    <button matIconButton><mat-icon>mail_outline</mat-icon></button>
  </mat-grid-tile>
 

</mat-grid-list>
