<div fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutGap.gt-xs="10px">
    <div fxFlex="45">
    <mat-card>
      <mat-card-title>
          Definitions
      </mat-card-title>
        <form class="example-form">
          <mat-form-field class="example-full-width">
          
        <input matInput placeholder="Task name" value="{{title}}">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Crawler day" value="{{day}}">
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Crawler hour" value="{{hour}}">
        </mat-form-field>
      </form>
    </mat-card>
    <mat-card >
        <mat-card-title>Options</mat-card-title>
        <mat-card-content>
      <app-grabber [selected]="grabber"></app-grabber>
      <app-urllist [selected]="url"></app-urllist>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayoutGap="10px">
      
  
        <mat-card-title>Communication</mat-card-title>
        <app-contactlist [selected]="contacts"></app-contactlist>
        <app-importmaillist></app-importmaillist>
        
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex>
        
    
 
    <mat-card>
        <mat-card-title>Last actions</mat-card-title>
      <mat-card-content>
    <button mat-button>Watch the last grabs</button>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
     
    </mat-form-field>
  </mat-card-content>
    <mat-card-actions>
    <button matIconButton><mat-icon>local_grocery_store</mat-icon></button>
    <button matIconButton><mat-icon>mail_outline</mat-icon></button>
  </mat-card-actions>
 
    </mat-card>
    <app-meterlist [meters]="meters"></app-meterlist>
   </div>
  </div>
